@use "../abstracts/variables" as v;

.button-icon{
    height: 5rem;
    width: 5rem;
    background-color: v.$primary-color;
    color: v.$blanc;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus{
       background-color: v.$rouge;
    }
}