@use "../abstracts/variables" as v;

.text-link{
    text-decoration: none;
    color: v.$font-color;
    font-family: v.$font-text, sans-serif;
    &:hover{
        text-decoration: underline;
        color: v.$rouge;
    }
}