<div id="section-idees">
    <img src="/assets/images/groupe.jpg" alt="Photo de groupe Angers Populaire">

    <h2>Une ville agréable pour toutes et tous !</h2>

    <p>Nous invitons les Angevines et les Angevins à nous rejoindre pour porter avec nous ce projet et participer à cette campagne.</p>

    <p>Plusieurs centaines d'entre vous ont signé notre appel à une liste d'Union Populaire pour Angers.</p>

    <p>Un programme de rupture, avec les politiques libérales et austéritaires du gouvernement et de la majorité municipale actuelle, a été construit à l'aide d'associations, de militants et d'habitants.</p>

    <a routerLink="/programme">
        Lire le programme
    </a>

    <p class="procuration">Lors de l'élection le 15 et 22 mars, chaque voix compte. Rendez-vous sur action populaire afin de <strong>prendre une procuration ou de faire la vôtre.</strong></p>
</div>