<section class="page-header">
    <div class="inner-container">
        <div class="container-une">
            <div class="une-soutien">
                <img src="/assets/images/LOGO-M27.svg"/>
                <img src="/assets/images/JLM-Mobile.png"/>
                <p>Soutenez la candidature de Jean-Luc Mélenchon pour l’élection présidentielle de 2027 ! </p>
                <span>
                    <a
                        class="button button-soutient"
                        href="https://melenchon2027.fr/"
                        target="_blank"
                        aria-label=" je soutiens Mélenchon - nouvelle fenêtre">
                        Je soutiens
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </span>
            </div>
            <div class="une-image">
                <img src="/assets/images/JLM-Desktop.png"/>
            </div>
        </div>
    </div>
</section>