<div id="section-idees">
    <img
        src="/assets/images/groupe2.png"
        aria-hidden="true"
        alt="L'équipe Angers populaire a pour candidat à la mairie d'Angers, Arash Saeidi. La liste Angers populaire s'opposera le 15 et 22 mars notamment à la liste 'Demain Angers' menée par Romain Laveau et la liste 'Angers pour vous' menée par Christophe Béchu ancien ministre de l'écologie et Maire sortant. Angers populaire est soutenu par la France Insoumise (lfi) parti créé par Jean Luc Mélenchon  et dont le coordinateur actuel est Manuel Bompard."
        >

    <h2>Une ville agréable pour toutes et tous !</h2>

    <p>Plusieurs centaines d'Angevines et d'Angevins ont signé notre appel à une liste d'Union Populaire pour Angers.</p>

    <!-- <p>Grâce aux Angevines et Angevins à nous rejoindre pour porter avec nous ce projet et participer à cette campagne.</p> -->


    <p>Un programme de rupture, avec les politiques libérales et austéritaires du gouvernement et de la majorité municipale actuelle, a été construit à l'aide d'associations, de militants et d'habitants.</p>

    <a routerLink="/programme">
        Lire le programme
    </a>

    <p class="procuration">Lors de ces élections municipales le 15 et 22 mars, chaque voix compte pour faire d'Angers une ville populaire ! Rendez-vous sur action populaire afin de <strong>prendre une procuration ou de faire la vôtre.</strong></p>

    <a
        class="bouton"
        href="https://actionpopulaire.fr/procuration/"
    >
        Ma procuration sur Action Populaire
    </a>
</div>