.skip-links{
    height: 1px;
    a {
       display: inline-block;
       color: #555;
       background: #fff;
       padding: .5em;
       position: absolute;
       left: -99999rem;
       z-index: 100;
    }
    a:focus {
       left: 10px;
       top: 10px;

    }
    li::marker{
        content: none;
    }
}