<header>
  <a class="logo" href="#" aria-label="Retour en haut de page">
      <img src="/assets/images/logo.png" alt="">
  </a>
  <nav id="desktop-nav">
      <a href="https://www.service-public.fr/particuliers/vosdroits/R16396" target="_blank" class="nav-highlight">
        Inscrivez-vous sur les listes électorales
      </a>
      <a href="#section-formulaire">
        Participez à la campagne
      </a>
      <a href="#section-idees">
        Contribuez au programme
      </a>
  </nav>
  <a href="#" aria-label="menu" [aria-expanded]="false" aria-controls="navi">
    <i class="fa-solid" >{{test}}</i>
  </a>
</header>