:host {
    //background-color: rgba(67, 172, 89, 0.75);
    background-image: linear-gradient(rgba(67, 172, 89, 0.75), rgba(67, 172, 89, 0.75)),url('/assets/images/accueil.jpg');

    background-attachment: fixed;
    background-position: center center;
    background-size:  cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:5rem;
    img{
        width: 75%;
        z-index: 1;

        margin-top: 4rem;
    }
    a{
        background-color: var(--violet);
        border: none;
        padding: 1rem;
        border-radius: 50px;
        color: var(--blanc);
        font-weight: bold;
        text-decoration: none;
        min-width: 18rem;
        text-align: center;
        &:hover{
            color: var(--violet);
            background-color: var(--blanc);
        }
    }
    section{
        z-index: 1;
        margin:5rem 0 5rem 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 50rem;
        gap: 1rem;
    }
    @media screen and (max-width: 850px) {
        padding: 1rem;
        img{
            width: 100%;

            margin-top: 0rem;

        }

        a {margin: 0}
    }
}