@use './assets/styles/abstracts/variables' as v;
@use './assets/styles/components/button.component.scss';
/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');
//app.component.scss

h1{
    font-family: v.$font-title, sans-serif;
    font-size: v.$font-size-title;
    color: v.$blanc;
}
h2,h3,h4,h5,h6{
    font-family: v.$font-subtitle , sans-serif;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: v.$blanc;
    color: v.$font-color;
    font-family: v.$font-text , sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
main{
    min-height: 50vh;
}
hr{
    background-color: v.$font-color;
    width: 100%;
    opacity: 0.5;
    height: 1px;
    border: none;
}

@media screen and (max-width: v.$breakpoint-telephone) {
    h2{
        text-align: center;
    }
}
